[submodule "v8"]
	path = v8
	url = https://github.com/puffyCid/v8.git
	branch = 11.7-lkgr-denoland-freebsd
[submodule "build"]
	path = build
	url = https://github.com/puffyCid/chromium_build.git
[submodule "tools/clang"]
	path = tools/clang
	url = https://chromium.googlesource.com/chromium/src/tools/clang.git
	branch = 20230426_rustyv8_freebsd
[submodule "base/trace_event/common"]
	path = base/trace_event/common
	url = https://chromium.googlesource.com/chromium/src/base/trace_event/common.git
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = https://chromium.googlesource.com/chromium/src/third_party/jinja2.git
[submodule "third_party/markupsafe"]
	path = third_party/markupsafe
	url = https://chromium.googlesource.com/chromium/src/third_party/markupsafe.git
[submodule "buildtools"]
	path = buildtools
	url = https://github.com/puffyCid/chromium_buildtools.git
	branch = 20221218_rusty_v8_freebsd
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/puffyCid/zlib.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://github.com/denoland/icu.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/puffyCid/abseil-cpp.git